.headlines, .sublines, .infotext {
    font-family: arial;
    color: blue;
    background: cyan;
    font-weight: bold;
}
.headlines {
    font-size: 14pt;
}
.sublines {
    font-size: 12pt;
}
.infotext {
    font-size: 10pt;
}
